.Screen {
  display: flex;
  overflow: hidden;
  flex: 2 1;
  justify-content: flex-start;
  align-items: normal;
  img {
    height: -moz-available, -webkit-fill-available;
    width: -moz-available, -webkit-fill-available;
    z-index: -1;
    max-height: 100%;
  }
  .image-left,
  .image-right {
    transition: all 0.6s ease-in-out;
  }
  .image-left {
    transform: translateX(-250px);
  }
  .image-right {
    transform: translateX(-450px);
  }
}
