.Screen {
  display: flex;
  overflow: hidden;
  flex: 2;
  img {
    object-fit: cover;
    // max-width: 100%;
    // height: auto;
  }
  .image-left,
  .image-right {
    transition: all 0.6s ease-in-out;
  }
  .image-left {
    transform: translateX(-250px);
  }
  .image-right {
    transform: translateX(-450px);
  }
}
