.Screen {
  display: flex;
  overflow: hidden;
  flex: 2;
  width: 100%;
  img {
    height: 75%;
  }
  .image-left,
  .image-right {
    transition: all 0.6s ease-in-out;
  }
  .image-left {
    transform: translateX(-250px);
  }
  .image-right {
    transform: translateX(-450px);
  }
}
