.Mobile {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 300px;
  .img {
    height: 45%;
    img {
      height: 100%;
    }
  }
}
